.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  margin-top: 0px;
  font-variant: small-caps;
  font-weight: 500;
  color: var(--header-color-primary);
  font-family: var(--font-headline);
}

.login__main-header {
  margin: 0px;
  font-family: var(--font-headline);
  color: var(--header-color-primary);
  font-weight: bold;
  text-align: center;
}

.login__subheader {
  margin: 8px 0px 0px 0px;
  color: var(--text-color);
  text-align: center;
}

.login__form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login__form-input {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-bottom: 32px;
}

.login__form-label {
  font-family: var(--font-headline);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}

.login__required-text {
  font-size: 10px;
  vertical-align: text-top;
  color: var(--status-danger);
  margin-left: 2px;
}

.login__form-text-box {
  background-color: var(--background-color-primary-alt);
  color: var(--text-color);
  padding: 12px 8px;
  border-style: none;
  outline-style: none;
}

.login_form-button {
  background-color: var(--background-color-secondary);
  font-size: 16px;
  padding: 14px 20px;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

.login_form-button:hover {
  opacity: 0.9;
}
