:root {
  --background-color-primary: hsl(220, 8%, 23%);
  --background-color-primary-alt: hsla(0, 3%, 12%, 0.914);
  --background-color-secondary: rgb(0, 180, 255);
  --font-primary: 'Roboto';
  --font-headline: 'NotoSans';
  --header-color-primary: hsl(0, 0%, 100%);
  --header-color-secondary: hsl(210, 1%, 60%);

  --text-color: hsla(0, 0%, 100%, 0.791);
  --status-danger: rgb(242, 63, 67);
}

body {
  font-family: var(--font-primary) sans-serif;
  color: var(--text-color);
  margin: 0px;
}
